* {
    margin: 0;
    padding: 0;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),
            rgba(4, 9, 30, 0.7)), url(image1.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #5941c2 40%, #9179FA 100%);
    height: 10vh;
}

.nav_title {
    color: #fff;
    font-family: 'Bungee Shade', cursive;
    font-size: 36px;
    font-weight: 600;
    color: #fff;
}

.logo img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
    margin-right: 10vh;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #9179FA;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
    font-family: 'Bebas Neue', cursive;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
    font-family: 'Fjalla One', sans-serif;
}

.head-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.head-btn:hover {
    border: 1px solid #9179FA;
    background: #9179FA;
    transition: 1s;
}

.main-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.main-btn:hover {
    border: 1px solid #9179FA;
    background: #797979;
    transition: 1s;
}

nav .fa {
    display: none;
}

/* Media for cel*/
@media (max-width: 700px) {
    .nav_title {
        font-size: 16px;
    }

    .nav-links ul li a {
        font-size: 15px;
    }
}

main {
    width: 100%;
    background: rgb(35, 32, 39);
}

.review {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-image: url(backgroundabout.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    color: #fff;
}

p {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.review-col {
    flex-basis: 31%;
    background: #9f81e4;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.review-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

/* Media for cel */
@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

footer {
    background: rgb(35, 32, 39);
    width: 100%;
    height: 100%;
}

footer h1,
p {
    color: white;
    padding: 20px;
}